      @import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

      :root {
        --bg-black900: #262627;
        --bg-black100: #303030;
        --bg-black50: #282828;
        --text-black900: #d9d8ea;
        --text-black700: #cecddb;

        --skin-color: #ec1839;
      }

      body.dark {
        --bg-black900: #151515;
        --bg-black100: #222222;
        --bg-black50: #393939;
        --text-black900: #ffffff;
        --text-black700: #e9e9e9;
      }

      * {
        margin: 0;
        padding: 0;
        outline: none;
        text-decoration: none;
        box-sizing: border-box;
      }
      ::before,
      ::after {
        box-sizing: border-box;
      }
      ul {
        list-style: none;
      }
      body {
        line-height: 1.5;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
      }
      .section {
        background: var(--bg-black900);
        min-height: 100vh;
        display: block;
        opacity: 1;
        padding: 0 30px;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0%;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.3s ease;
      }
      .section.back-section {
        z-index: 1;
      }
      .section.active {
        z-index: 2;
        opacity: 1;
        animation: slideSection 1s ease;
      }
      @keyframes slideSection {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      .hidden {
        display: none !important;
      }
      /*.main-content { padding-left: 270px; }*/
      .padd-15 {
        padding-left: 15px;
        padding-right: 15px;
      }
      .container {
        max-width: 100%;
        width: 100%;
        margin: auto;
      }
      .section .container {
        padding-top: 60px;
        padding-bottom: 70px;
      }
      .section-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
      }
      .section-title h2 {
        font-size: 40px;
        color: var(--text-black900);
        font-weight: 700;
        position: relative;
      }
      .section-title h2::before {
        content: "";
        height: 4px;
        width: 50px;
        background-color: var(--skin-color);
        position: absolute;
        top: 100%;
        left: 0;
      }
      .section-title h2::after {
        content: "";
        height: 4px;
        width: 25px;
        background-color: var(--skin-color);
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
      }
         .row1 {
        display: flex;
        flex-wrap: wrap;
       
     
        position: relative;
      }
      .btn {
        font-size: 16px;
        font-weight: 500;
        padding: 12px 35px;
        color: white;
        border-radius: 40px;
        display: inline-block;
        border: none;
        white-space: nowrap;
        background: var(--skin-color);
        transition: all 0.3s ease;
      }
      .btn:hover {
        transform: scale(1.05);
      }
      .shadow-dark {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
      }
html {
  scroll-behavior: smooth; /* enables smooth scroll */
}

.smooth-nav {
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}
